@page "/clients"
@using LegalCRM.Shared.Client
@using LegalCRM.Web.Components
@inject NavigationManager Nav
@inject HttpClient Http
@attribute [Authorize]

<h3>Profiles</h3>
<div class="mb-3">
    <button class="btn btn-primary" @onclick="NavigateToAddClient">Добавить клиента</button>
</div>
@if (_clients is null)
{
    <p>Загрузка...</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        @foreach (var c in _clients)
        {
            <ClientCard Client="c"/>
        }
    </div>
}
@code {
    private List<ClientReadDto>? _clients;
    protected override async Task OnInitializedAsync()
    {
        _clients = await Http.GetFromJsonAsync<List<ClientReadDto>>("api/Client/getAll");
    }
    private void NavigateToAddClient()
    {
        Nav.NavigateTo("clients/add");
    }
}
